jodi_core/src/main/resources/jodi-packages-extensions.v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           targetNamespace="http://jodi.one/etlmodel/extensions"
           xmlns="http://jodi.one/etlmodel/extensions" jaxb:version="2.1">

    <xs:complexType name="PackagesExtension">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="PackageExtension">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="StepsExtension">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>