jodi_core/src/main/resources/jodi-extensions.v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://jodi.one/model/extensions"
    xmlns="http://jodi.one/model/extensions"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

     <xs:complexType name="TransformationExtension">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="SourceExtension">
        <xs:sequence />
    </xs:complexType>

    <xs:complexType name="MappingsExtension">
        <xs:sequence />
    </xs:complexType>

    <xs:complexType name="TargetColumnExtension">
        <xs:sequence />
    </xs:complexType>
</xs:schema>